.pacientName {
    color: #00C8D5;
    font-size: 110%;
}

#btn{
    width: 85px;
    height: 25px;
    font-size: 12px;
}
.profession{
    font-size: 13px;
}
.labels{
    margin-right: 2%;
    font-size: 15px;
    height: 100%;
    margin-bottom: 30px;
}

.icons{
    margin-right: 1%;
    font-size: 18px;
}

ion-img {
    width: 70px;
    height: 70px;
}

.labelcontainer{
    display: inline-block;
}