ion-content {
    --background: #00C8D5;
}

ion-img {
    width: 65%; 
    margin: auto; 
    margin-top: 12px;
}

*{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.contenedor {
    background-color: #FFFFFF;
    height: 100%;
    margin-top: 8%;
    border-radius: 30px;
    padding: 20px;
}

p {
    color: #0c0c0c;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 2px;
}