<ion-header class="ion-no-border">
  <ion-toolbar style="color: #00C8D5;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" style="color: #00C8D5;"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  fullscreen="true">
  <ion-img src="assets/img/acerca.svg"></ion-img>
  <div class="contenedor">
      <hr>
      <p>Esta es una aplicación de agenda médica para doctores que busca facilitar la gestión de agendar los pacientes y confirmar las consultas de forma automática, formal y respetuosa hacia el paciente.</p>
      <p>Sólo ingresas, te registras como doctor, y registras consultas, registras pacientes, consultas tus pacientes y puedes revisar las consultas registradas. Funciona tanto como una agenda móvil para los doctores llevar un conteo y reportes que les permita saber sobre sus pacientes y la cantidad de visitas tanto como en qué fecha fueron esas visitas. </p>
  </div>
</ion-content>
