.foto{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
ion-card-header{
    background-color:#00C8D5;
    color: #fff
}
ion-back-button{
    color:#00C8D5;
}
.btn-borrar{
    color: #fff;
}
