
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/showallpacientes" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>Detalles</ion-title>
    </ion-card-header>


    <ion-card-content>

      <ion-avatar class="foto">
        <ion-img src="../../../assets/img/FotoPrueba.jpg"></ion-img>
      </ion-avatar>
      <div class="mt-3">
        <b class="ion-text-start">Nombre: </b>
        <ion-text class="ion-text-end">Alicia</ion-text>
      </div>

      <div class="mt-3">
        <b>Apellido: </b>
        <ion-label>Vega</ion-label>
      </div>
      
      <div class="mt-3">
        <b>Motivo de la visita: </b>
        <ion-label>Dolor frecuente de cabeza</ion-label>
      </div>

      <div class="mt-3">
        <b>Fecha: </b>
        <ion-label>12-1-2020</ion-label>
      </div>

      <div class="mt-3">
        <b>Monto: </b>
        <ion-label>120,200</ion-label>
      </div>

      <div class="mt-3">
        <b>Diagnostico: </b>
        <ion-label>Tumor cerebral</ion-label>
      </div>

      <div class="mt-3">
        <b>Nota: </b>
        <ion-label>Operacion de emergencia</ion-label>
      </div>

      <div class="ion-text-center">
        <ion-button color="danger" class="btn-borrar mt-2">
          Delete
        </ion-button>
      </div>


    </ion-card-content>


  </ion-card>
  
</ion-content>
