.foto{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
ion-card-header{
    background-color:#00C8D5;
    color: #fff
}
ion-back-button{
    color:#00C8D5;
}
.btn-borrar{
    color: #fff;
}
