<ion-header class="ion-no-border">
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-toolbar style="color: #00C8D5;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" style="color: #00C8D5;"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-img src="assets/img/addpaciente.svg"></ion-img>
  <p class="ion-text-center">Registrar Paciente</p>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="pacienteForm" (submit)="onSubmit(pacienteForm.value)">
        <ion-input type="number" formControlName="cedula" placeholder="Cedula"></ion-input>
        <ion-input type="name" formControlName="nombre" placeholder="Nombre"></ion-input>
        <ion-input type="lastName" formControlName="apellido" placeholder="Apellido"></ion-input>
        <ion-input type="sangre" formControlName="tipo_sangre" placeholder="Tipo de Sangre"></ion-input>
        <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
        <ion-input type="sexo" formControlName="sexo" placeholder="Sexo"></ion-input>
        <ion-item lines="none">
          <ion-label>Fecha de nacimiento</ion-label>
          <ion-datetime formControlName="fecha_nac" displayFormat="MM DD YYYY" value="1994-12-15"></ion-datetime>
        </ion-item>
        <ion-input type="alergias" formControlName="alergias" placeholder="Alergias"></ion-input>
        <ion-button class="but" expand="block" (click)="createAlert()">Tomar foto</ion-button>
        <img [src]="image" *ngIf="image">
        <ion-button expand="block" [disabled]="pacienteForm.invalid" shape="round" type="submit">
          Registrar Paciente
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
