<ion-header class="ion-no-border">
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-toolbar style="color: #00C8D5;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" style="color: #00C8D5;"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <ion-card>
    <ion-card-content>
      <ion-img src="assets/img/profile.svg"></ion-img>
      <p class="profile ion-text-center">Dr. {{medico.nombre}}</p>
      <p class="gmail ion-text-center" >{{medico.correo}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="mt-3">
    <ion-card-content>
      <ion-item routerLink="/updatedata">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text class="ion-margin-start">Modificar Datos</ion-text>
      </ion-item>
      <ion-list>
        <ion-item routerLink="/changepass">
          <ion-icon  name="lock-open-outline"></ion-icon>
          <ion-text class="ion-margin-start" >Cambiar Contraseña</ion-text>
        </ion-item>
        <ion-input></ion-input>
        <ion-item class="cerrar" (click)="logOut()" >
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-text class="ion-margin-start">Cerrar Sesion</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
