ion-content {
    --background: #F9F9F9;
}

ion-input {
    --background: #F3F3F3;
    margin: 12px 0;
    border-radius: 25px;
    text-indent: 20px;
}

ion-button {
    --background: #00C8D5;
    margin-top: 17px;
    border-radius: 50px;
    font-weight: bold;
}

ion-img {
    width: 70%; 
    margin: auto; 
    margin-top: 15px;
}

ion-progress-bar {
    --progress-background: #00C8D5;
    --background: rgb(207, 207, 207);
}