<ion-header class="ion-no-border">
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-toolbar style="color: #00C8D5;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" style="color: #00C8D5;"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Visitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-no-padding"> 
  <ion-segment>
    <ion-segment-button value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Enemies</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="visitaList.length !== 0; else vacio"> 

    <ion-fab routerLink="/registrarvisita" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list>
      <app-cardvisita [routerLink]="['/showconsulta', visit.id]" [data]="visit" *ngFor="let visit of visitaList"></app-cardvisita>
    </ion-list>
  </ng-container>

  <ng-template #vacio>
    <ion-img src="assets/img/notfound.svg"></ion-img>
    <p style="color: #00C8D5; margin-top: 20px; font-size: 20px;" class="ion-text-center">No hay visitas registradas</p>
  </ng-template>

</ion-content>
