<ion-header class="ion-no-border">
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-toolbar style="color: #00C8D5;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" style="color: #00C8D5;"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-no-padding">
  <!--<ion-row style="margin-top: 32px;">
    <ion-col>
      <ion-card>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>-->
  
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Enemies</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="patientsList.length !== 0; else vacio">
    <ion-list>
      <app-cardpaciente [routerLink]="['/pacienteprofile', pac.id]" [show]="false" [data]="pac" *ngFor="let pac of patientsList"></app-cardpaciente>
    </ion-list>
  </ng-container>

  <ng-template #vacio>
    <ion-img src="assets/img/notfound.svg"></ion-img>
    <p style="color: #00C8D5; margin-top: 20px; font-size: 20px;" class="ion-text-center">No hay pacientes registrados</p>
  </ng-template>
</ion-content>
