<ion-card>
  <ion-card-content>
      <div class="row">
        <div class="col-3">
          <ion-avatar>
            <ion-img src="../../../assets/img/FotoPrueba.jpg"></ion-img>
          </ion-avatar>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-6">
              <div>
                <ion-text class="pacientName"><b>{{visita.motivo}}</b></ion-text>
              </div>
              <div>
                <ion-text class="profession"><b>{{visita.nota}}</b></ion-text>
              </div>
            </div>
            <div class="col-6">
              <button id="btn" class="btn bg-danger text-white"  color="danger">
                Upcoming
              </button>
            </div>
          </div>
        <div class="mt-1">
            <ion-icon class="icons" name="calendar-outline"></ion-icon>
            <ion-label class="labels">{{visita.nota}}</ion-label>

            <ion-icon name="water-outline"></ion-icon>
            <ion-label class="labels">{{visita.no_seguro}}</ion-label>

            <ion-icon class="icons" name="cash-outline"></ion-icon>
            <ion-label class="labels">{{visita.monto}}</ion-label>
        </div>

        </div>
      </div>


  </ion-card-content>
</ion-card>
