<ion-card>
  <ion-card-content>
      <div class="row">
        <div class="col-3">
          <ion-avatar>
            <ion-img src="../../../assets/img/FotoPrueba.jpg"></ion-img>
          </ion-avatar>
        </div>
        <div class="col-9">
          <div>
            <div>
              <ion-text class="pacientName"><b>{{visita.motivo}}</b></ion-text>
            </div>
            <div>
              <ion-text class="profession"><b>{{visita.no_seguro}}</b></ion-text>
            </div>
          </div>
        <div class="mt-1 ion-text-end">
            <ion-icon class="icons" name="calendar-outline"></ion-icon>
            <ion-label class="labels">{{visita.fecha | date}}</ion-label>

            <ion-icon class="icons" name="cash-outline"></ion-icon>
            <ion-label class="labels">{{visita.monto}}</ion-label>
        </div>

        </div>
      </div>


  </ion-card-content>
</ion-card>
