ion-icon {
    color: #00C8D5;
}

.col-8 {
    position: absolute;
    left: 20%;
}

.apellido {
    color: #00C8D5;
    font-size: 14px;
}

.btn {
    background-color: #00C8D5;
    color: #fff;
    border-radius: 25px;
    width: 25%;
}

.sangre {
    margin-left: 2%;
    color: rgb(196, 196, 196);
    display: inline-block;
    background-color: blue;
}