ion-content {
    --background: #00C8D5;
}

.icon {
    font-size: 30px;
    color: #FFFFFF;
    margin-right: 7px;
}

.cardicon{
    font-size: 40px;
    color: #00C8D5;
    margin: auto;
    margin-left: 27%;
    margin-bottom: 10px;
}

ion-card {
    --background: #ffffff;
    border-radius: 15px;
}

.contenedor {
    background-color: #FFFFFF;
    height: 100%;
    margin-top: 10%;
    border-radius: 30px;
}

ion-toolbar {
    --background: transparent;
}

ion-title {
    color: #FFFFFF;
}

ion-img {
    width: 35%; 
    margin: auto; 
    margin-top: 15px;
}

p {
    color: #ffffff;
    font-weight: lighter;
    font-size: 24px;
}

.text{
    color: #00C8D5;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 0;
}

*{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}