ion-content {
    --background: #00C8D5;
}

.icon {
    font-size: 30px;
    color: #FFFFFF;
    margin-right: 7px;
}

ion-card {
    --background: #E2F9FB;
}

.contenedor {
    background-color: #FFFFFF;
    height: 100%;
    margin-top: 40%;
    border-radius: 30px;
}

ion-toolbar {
    --background: transparent;
}

ion-title {
    color: #FFFFFF;
}